/*-------------------------------------------------------------
-- file    : text.css
-- purpose : Style sheet for homepage Piet Lammertse
-- note    : Beware : inside CSS, the comment symbol is / * etc.
--             This is unlike HTML, where it is <!-- -->   
---------------------------------------------------------------
-- history :
--     2026-07-16 renamed plammertse.css to text.css,
--                added companion menu.css for menus
--     2026-07-07 unsuccessful : print headers and footers
--     2026-07-05 top banner a bit less wide
--     2026-06-22 body text now justified
--     2026-06-19 add PDF print rules, video to poster, section
--     2026-03-15 small, gradual developments
--     2025-11-21 new
--------------------------------------------------------------*/

/* Sans serif everywhere.                   */
/*   Default font size seems to be 16px     */
/* Don't do margin, it shifts the navbar :  */
/*   margin-left : 32px;                    */

body {
  margin      : 0;
  padding     : 0;
  font-family : Arial, Helvetica, sans-serif;
  text-align  : justify;
}

/* all hyperlinks darker blue */
/* in Chrome, this briefly changed dead links
   to black (they were lighter blue), but no more ? 
   Also see the result in prop_book_00_TOC.html  */
a {
   color : #000040;    /* #000080  */
}
/* line spacing + indent for header         */

h2 {     /* default font desktop/tablet 30/24 */
  margin     : 6px 16px;      /* top, right, bottom, left */
/*  margin-top : 16px;   */
}

h3 {     /* default font desktop/tablet 24/20 */
  font-size  : 20px;
  margin     : 4px 16px;
  margin-top : 16px;
}

h4 {     /* default font desktop/tablet 20/18 */
  font-size  : 18px;
  margin     : 2px 32px;
  margin-top : 12px;
}
h5, h6 {
  font-family : Arial, Helvetica, sans-serif;
  font-size  : 16px;
  font-weight: normal;
  margin     : 2px 32px;
  margin-top : 8px;
}

/* paragraph : smaller vertical line distance,     */
/* larger left margin                              */
/* Max. column width 800 gives some 108 letters.   */
/* Word wraps can be helped with soft hyphens &shy */
p {
  margin    : 3px 32px;/* top, right, bottom, left */
  max-width : 800px;
/* font-size : 16px;  already the default, I think */
}

/* horizontal rulers are text width */
hr {
  margin-left : 32px;
  max-width   : 800px;" >
}

/* prevent sup and sub from increasing line height */
sup, sub {
  vertical-align:  baseline;
  position       : relative;
  top            : -0.2em;
}

sub {
  top : 0.2em;
}

/*<pre> increase fixed-spacing font size 
        ( default is 12, main text is 16 )         */
/* margin is absolute, not inside <p>              */
pre {
  font-size       : 15px;
  margin          : 4px 64px;
}

/* input field label not too tight with input box  */
label {
   margin-left    : 24px;
   padding-right  :  6px;
}

/* numerical input fields                          */
/* Fix for HTML bug, size not settable for number fields */
input[type=number] {
   width          : 60px;
} 

/* fit-in equations, and equation numbers */
table {
/*   width       : min( 90%, 775px);
   margin-left : min(  4%,  48px) */
}

/* table content (rows) spaced a little more       */
td {
  padding : 1px 0;
}

/* Two equal columns that float next to each other,
   for propeller TOC */
.column {
  float        : left;
  /* surprisingly, this stacks responsive :         */
  width        : 400px;   /* for now, half of 800   */
/* failed responsive attempt, this does not stack : */  
/*  width        : min( 50%, 400px); */
  padding-left : 10px;
}

/* Set this around figures and captions */
.center {
   display     : flex;
   justify-content : center;
   align-items	: center;
   margin-left : min(  5%,  32px);
 /* margin-top    : 8px; */ /* this falls outside the box border */
 margin-bottom : 8px; /* this falls outside the box border */
/*   padding     : 0 0;  */ /* no effect */
   width  		: min( 90%, 800px);
/*   border 		: solid; */   /* temporary debug tool */
}

/* Increase the math font size to look like 16px text.
   The extra math margin (vertical + horizontal)
   acts *inside* <p> ( and inside <td>, TBC ).                              
   <mfrac> from inline to display style cannot be fixed here,
   this needs <mstyle displaystyle="true" first every time.
*/
   
math {
  font-size : 18px;
  margin    : 0px 32px;
}
/* 
AI advice for too deep fractions below sqrt : doesn't seem to work.
math, mrow {
    font-family: "Latin Modern Math", STIXGeneral,
                  DejaVu Math TeX Gyre, sans-serif;
*/

/* Always use <mspace/> with the slash, else it won't work  */
/* <mspace> width itself does not seem to allow an override */
mspace {
   min-width : 0.5em;
}

img {
   /* This doesn't seem needed in a centered <div> : */
   /*   display       : inline-block; */
   /* margin-top    : 16px; margin-bottom : 16px;  */
/*   margin-top    : 0;
   margin-bottom : 0;
 */
}

video {
/*   display       : inline-block;   */
/*   width : 80%;  */
/*   margin-top    : 16px;
   margin-bottom : 16px;
 */
}

.footer {
   position   : fixed;
   left       : 32px;
   bottom     : 0;
   width      : min( 88%, 800px);   /* PL */
   background-color: white;
   color            : #000070;      /* dark blue
/*   text-align : right;     */     /* hard to change in HTML ? */
   text-align : center;             /* make room for next/prev "buttons" */
   padding    : 4px 0 5px 0;        /* top, right, bottom, left */
   box-sizing : border-box;
   border-top : 1px solid black;
}

/* added footer "buttons", PL : */
.footer a  {
   background-color : #E9F0F0;         /* light blueish gray   */
   color            : #0000A0;         /* darkest blue         */
   text-decoration  : none;            /* lose the underline   */
   padding          : 2px 8px 2px 8px; /* top, right, bottom, left */
   font-style       : italic;          /* !!!!! */
}

.footer a:hover {
   background       : #E90000;      /* darkish red */
   color            : white;  
}

/* TODO  This is a nice header for printing onevery page   */
/*       Trouble is, it covers the top of the normal text. */
.header {
   position    : fixed;                /* fixed will print on every page   */
/*   display     : none;   */              /* only for printing, not on screen */
   display     : visible;                 /* only for printing, not on screen */
/*   left        : 32px;  */
   top         : 0;                 /* note @page margin below */
   width       : min( 85%, 800px);
   background-color: white;
   color       : black;
   text-align  : center;
   padding     : 0 16px;          /* from default 32px ? */
   box-sizing  : border-box;
   border-bottom : 1px solid black;
}

section {
   break-before : page; }

/* nicer PDF's */
@media print {
   nav, .footer a, .no-print {
      display : none !important; }
   .do-print {
      display : block !important; }
   .header {
      display : block !important; }

   /* hide navigation and footers, define class .no-print */
   /* no need for the h2 margin at top of a printed page */
   h2 {
      margin-top   : 8px; }  /* small space below header ruler */
   h2, h3, h4, h5 {
      break-after  : avoid; }
   img,table {
      break-inside : avoid; }
   .new-page {
      break-before : page;  }
   /* print margins need to be in mm */
   @page {
      /* margin-top : 24mm; }  then give header a negative position, still overlaps text */
      margin-top : 12mm; }  /* zero is at paper border, and will not print I think */

  /* Verberg de volledige video en alle bijbehorende controls */
  /* In plaats hiervan komt een non-display video still       */
  video {
    display  : none !important;
  }
}

